.container {
  background-color: rgb(12, 248, 224);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.box {
  height: 200px;
  width: 500px;
}
.header {
  background-color: rgb(53, 146, 227);
}
.middle {
  background-color: brown;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer {
  background-color: chartreuse;
}
.left {
  width: 100px;
  background-color: rgb(77, 24, 235);
}
.right {
  width: 400px;
  background-color: rgb(184, 62, 5);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.child1 {
  height: 100px;
  background-color: rgb(249, 180, 180);
}
.child2 {
  height: 100px;
  background-color: rgb(36, 130, 208);
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.lchild {
  width: 100%;
  background-color: aqua;
}
