body {
  background-color: rgb(48, 37, 37);
}
.container {
  height: 800px;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, ifr);
}
.white {
  background-color: aliceblue;
}
.blue {
  background-color: blue;
}
